body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
  }
  
  .reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reset-password-box {
    background-color: #2c2c2c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
  }
  
  .reset-password-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .password-input-container label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .password-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .password-input-wrapper input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .message {
    margin-top: 20px;
    font-size: 16px;
    color: #4caf50;
  }
  