/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Helvetica, Sans-Serif;
  background-color: #222831;
  color: #fff; /* Setting text color to white for better contrast */
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar styles */
#sidebar {
  background-color: #31363F;
  width: 400px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.read-more {
  color: blue;
  cursor: pointer;
}

.sidebar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #e0e0e0;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within .user-details */
  color: #333;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  opacity: 0.75; /* Reduced opacity for user details */
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.userDetailsContent {
  margin: 10px;
}

.user-username {
  color: #666;
  margin-bottom: 10px;
}

.user-email,
.user-country,
.user-organization,
.user-linkedin,
.user-bio,
.user-followers,
.user-following {
  margin-bottom: 5px;
}

.user-linkedin a {
  color: #007bff;
  text-decoration: none;
}

.user-linkedin a:hover {
  text-decoration: underline;
}

/* Main content area */
.main-content {
  margin-left: 250px; /* Adjust based on sidebar width */
  padding: 20px;
}

/* Sidebar list styles */
.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-list-item {
  margin-bottom: 10px;
}

.sidebar-list-item a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar-list-item a:hover {
  background-color: #e0e0e0;
}

/* Header styles */
.header {
  background-color: #76ABAE;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  cursor: pointer;
}

.header-options {
  display: flex;
  align-items: center;
  color: white;
}

.header-option {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Increased margin-left */
  transition: color 0.3s ease;
}

.header-option span {
  /* margin-left: 5px; */
  margin-right: 40px;
}

.header-option:last-child {
  margin-left: 20px;
}

.header-option:hover,
.header-option:hover .icon {
  color: #222831; /* Body background color */
}

.profile-icon {
  position: relative;
  margin-left: 10px; /* Add margin to the left of the profile icon */
}

.profile-dropdown {
  position: absolute;
  top: calc(100% + 10px); /* Adjust as needed */
  right: 0;
  background-color: #1a235a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none; /* Initially hide dropdown */
  z-index: 1000; /* Ensure dropdown appears above other content */
}

.profile-dropdown.active {
  display: block; /* Display dropdown when active */
}

.profile-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-dropdown ul li {
  padding: 10px;
}

.profile-dropdown ul li a {
  color: #fff;
  text-decoration: none;
}

.profile-dropdown ul li a:hover {
  text-decoration: underline;
}

/*Footer*/

.footer {
  background-color: #1a235a;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-content p {
  color: red;
}

.search-form {
  position: relative;
  margin-right: 10px; /* Adjust as needed */
}

.search-form input[type="text"] {
  width: 400px; /* Adjust width as needed */
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f9fa; /* Light gray background */
  color: #333;
  transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.search-form input[type="text"]:focus {
  width: 250px; /* Expand width on focus */
  border-color: #007bff; /* Change border color on focus */
}
